/* Webfont: Angry-Regular */@font-face {
    font-family: 'Angry';
    src: url('Angry.woff2') format('woff2'), /* Modern Browsers */
         url('Angry.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

